<div class='container'>

  <h2><a href="<%= @post.link %>"><%= @post.title %></a></h2>
  <h3><a href="/users/<%= @post.user_id %>"><%= @post.user.username %></a></h3>

  <form action="/post/<%= @post.id %>" method="post">
    <textarea name="body" placeholder="Your comment..." class="link-padding full-width"></textarea>
    <input type="submit" value="post comment" >
  </form>

  <ul>
  <% @comments.each do |comment| %>
    <li>
      <a href="/users/<%= comment.user_id %>">
        <%= comment.user.username %></a>
        <br>
        <p><%= comment.body %></p>
    </li>
  <% end %>
  </ul>
</div>
